.about {
    background-color: $color-about;
    padding: 25rem 1rem;
    margin-top: -20rem;

    @include responsive(tablet-portrait) {
        padding: 20rem 0;
    }
}

.section-features {
    padding: 20rem 1rem;
    background-image: linear-gradient(to right top, /* gradient on top of bg image */
    $color-black, $color-gray),
    url("https://images.unsplash.com/photo-1573836023239-f67547a94297?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    margin-top: -12rem;
    transform: skewY(-7deg); // distorts the section

    & > * { // selects all children of this class
        transform: skewY(7deg); // distorts the children back to normal
    }

    @include responsive(tablet-portrait) {
        padding: 10rem 0;
    }
}

.section-tours {
    background-color: $color-about;
    padding: 25rem 1rem 15rem 1rem;
    margin-top: -15rem;

    @include responsive(tablet-portrait) {
        padding: 20rem 0 10rem 0;
    }
}

.section-reviews {
    position: relative;
    padding: 15rem 0;

    @include responsive(tablet-portrait) {
        padding: 10rem 0;
    }
}

.section-booking {
    padding: 15rem 1rem;
    background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);

    @include responsive(tablet-portrait) {
        padding: 10rem 0;
    }
}

.booking {
    background-image: linear-gradient(105deg,
        rgba($color: #fff, $alpha: 1) 0%, 
        rgba($color: #fff, $alpha: .2) 50%, 
        transparent 50%), // makes image 100% visible
        url("https://images.unsplash.com/photo-1568267938179-f50e67de5ffc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1493&q=80");
    background-size: 100%; //how much image occupies
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: .2);

    @include responsive(tablet-landscape) {
        background-image: linear-gradient(105deg,
        rgba($color: #fff, $alpha: 1) 0%, 
        rgba($color: #fff, $alpha: .2) 65%, 
        transparent 65%), // makes image 100% visible
        url("https://images.unsplash.com/photo-1568267938179-f50e67de5ffc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1493&q=80");
        background-size: cover;
    }

    @include responsive(tablet-portrait) {
        background-image: linear-gradient(to right,
        rgba($color: #fff, $alpha: 1) 0%, 
        rgba($color: #fff, $alpha: .3) 100%),
        url("https://images.unsplash.com/photo-1568267938179-f50e67de5ffc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1493&q=80");
        background-size: cover;
    }

    &-form {
        width: 50%;
        padding: 6rem;

        @include responsive(tablet-landscape) {
            width: 65%;
        }

        @include responsive(tablet-portrait) {
            width: 100%;
        }
    }
}