.row {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) { // except last element within .row
        margin-bottom: $gutter-vertical;
    }

    @include clearfix; // adding mixin

    [class^="col-"] { // all elements whose class starts with "col-"
        float: left; // content moves to the left border

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2); // each column width
    }
}