body {
    background-color: #f7fbfc;
    font-family: 'Train One', cursive;
}

#back {
    color: #e84545;
    text-decoration: none;
    margin: 15px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    background-color: #769fcd;
    font-size: 25px;
    padding: 10px;
    margin-top: 10px;
}

.item {
    color: #f7fbfc;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.item:hover {
    color: #b9d7ea;
}

.first {
    margin-right: auto;
}

.main {
    display: flex;
}

.beach {
    width: 100%;
}

.lake {
    display: flex;
}

.pic_lake {
    margin: 0 100px;
    border-radius: 20px;
}

.motto {
    text-transform: uppercase;
    align-self: center;
    color: #769fcd;
    padding: 15px;
}

.seasons {
    display: flex;
    justify-content: center;
    background-color: #769fcd;
}

.choose_season {
    text-transform: uppercase;
    font-size: 25px;
    color: #f7fbfc;
}

.choose_season:hover {
    color: #b9d7ea;
}

.discovermi {
    text-transform: uppercase;
    font-size: 25px;
    color: #f7fbfc;
}

.discovermi:hover {
    color: #b9d7ea;
}

.pics {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pic {
    width: 250px;
    align-self: center;
    padding: 0 10px;
}

.pic:hover {
    opacity: 0.5;
}

.ss {
    align-self: center;
    background-color: #f7fbfc;
    border-radius: 10px;
    padding: 10px 30px;
}

.discover {
    background-color: #b9d7ea;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 15px;
    color: #769fcd;
}

.ing {
    background-color: #f7fbfc;
    border-radius: 10px;
    padding: 10px 30px;
}

.list {
    display: flex;
    justify-content: space-evenly;
}

.single {
    list-style: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #769fcd;
    padding: 30px 50px;
    text-align: center;
}

.single:hover {
    background-color: #d6e6f2;
    border-radius: 10px;
}

del {
    display: inline-block;
    transform: rotate(-15deg);
}

ins {
    color: #e84545;
    text-decoration: none;
    font-weight: bold;
}

.label {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.lbl {
    color: #769fcd;
}

.btn {
    display: flex;
    justify-content: center;
}

.contact {
    display: flex;
    justify-content: center;
    
}

.cntct {
    text-transform: uppercase;
    padding: 15px 50px;
    font-size: 20px;
    cursor: pointer;
    margin: 0 15px;
    border: none;
    background-color: #f7fbfc;
}

.cntct:hover {
    background-color: #d6e6f2;
    border-radius: 10px;
}

.cta {
    background-color: #b9d7ea;
    color: #f7fbfc;
    text-transform: uppercase;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    flex: 1;
}

.cta:hover {
    background-color: #769fcd;
}

a {
    text-decoration: none;
    color: #3f72af;
}

#sunset {
    width: 100%;
}

@media all and (max-width: 800px) {
    .list {
        display: flex;
        flex-direction: column;
    }
    .contact {
        display: flex;
        flex-direction: column;
    }
    .lake {
        display: flex;
        flex-direction: column;
    }
    .nav {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
    .single {
        font-size: 15px;
        padding: 10px 20px;
    }
    .cntct {
        font-size: 15px;
        padding: 10px 20px;
        margin: 5px 0;
    }
    .discover {
        text-align: center;
    }
    .discovermi, .choose_season {
        text-align: center;
    }
}

@media all and (max-width: 500px) {
    .list {
        display: flex;
        flex-direction: column;
    }
    .contact {
        display: flex;
        flex-direction: column;
    }
    .lake {
        display: flex;
        flex-direction: column;
    }
    .nav {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
    .single {
        font-size: 15px;
        padding: 10px 20px;
    }
    .cntct {
        font-size: 15px;
        padding: 10px 20px;
    }
    .discover {
        text-align: center;
    }
}