* {
    /* no margins and padding are added automatically to anything */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* margins and borders are not added up to width or height of elements */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: bisque;
    padding: 30px;
}

.header {
    height: 95vh;
    /* gradient on top of background image */
    background-image: linear-gradient(to right bottom,
    #7ed56fc7, #28b485c7),
    url("https://images.unsplash.com/photo-1484910292437-025e5d13ce87?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1514&q=80");
    background-size: cover;
    background-position: top; /* fixing background image*/
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.logo-div {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.titles {
    position: absolute;
    top: 30%;
    left: 50%;
    /* move text block with its center fixed */
    transform: translate(-50%, -50%);
}

.title {
    color: white;
}

.primary-title {
    text-transform: uppercase;
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveRight;
    animation-duration: 2s;
    /* animation-delay: 2s; */
    /* animation-iteration-count: 3; */
    animation-timing-function: ease-out;
}

.secondary-title {
    display: block;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 16px;
    animation: moveLeft 2s ease-out;
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}