@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes turning {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

*, *::after, *::before {
  /* valid for all elements */
  /* no margins and padding are added automatically to anything */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* inherits from body */ }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: bisque;
  padding: 3rem; }

.main {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* move text block with its center fixed */
  text-align: center; }
  .main__title {
    color: white; }
  .main__primary-title {
    text-transform: uppercase;
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveRight;
    animation-duration: 2s;
    /* animation-delay: 2s; */
    /* animation-iteration-count: 3; */
    animation-timing-function: ease-out; }
  .main__secondary-title {
    display: block;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1.6rem;
    animation: moveLeft 2s;
    margin-bottom: 6rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 2rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.205); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.205); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.main-btn {
  background-color: white;
  color: teal;
  animation: moveUp 1s ease-out .75s;
  animation-fill-mode: backwards;
  /* applies zero animation at start, useful with animation delay */ }
  .main-btn::after {
    background-color: white; }

.header {
  height: 95vh;
  /* occupies 95% of screen vertically */
  background-image: linear-gradient(to right bottom, #7ed56fc7, #28b485c7), url("https://images.unsplash.com/photo-1484910292437-025e5d13ce87?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1514&q=80");
  background-size: cover;
  background-position: top;
  /* fixing background image on top */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo-pic {
    height: 3.5rem; }
  .header__logo-pic:hover {
    animation: turning 1s ease-in-out; }
