@mixin clearfix {
    &::after { // inserts "" after specified element
        content: "";
        display: table;
        clear: both; // prevents element from floating left or right
    }
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Breakpoints for responsive design:
// 0 - 465px <- mini mobile
// 0 - 600px <- mobile phone
// 600px - 900px <- tablet portrait
// 900px - 1200px <- tablet landscape
// 1200px - 1800px <- normal screen for which the code is typically written
// 1800px + <- big desktop

@mixin responsive($breakpoint) {
    @if $breakpoint == mini-mobile {
        @media only screen and (max-width: 29em) { // for touchscreens and smaller screens (iPhone)
            @content
        }
    };
    @if $breakpoint == mobile-phone {
        @media only screen and (max-width: 37.5em) { // for touchscreens
            @content
        }
    };
    @if $breakpoint == tablet-portrait {
        @media only screen and (max-width: 56.25em) {
            @content
        }
    };
    @if $breakpoint == tablet-landscape {
        @media only screen and (max-width: 75em) {
            @content
        }
    };
    @if $breakpoint == big-screen {
        @media only screen and (min-width: 112.5em) {
            @content
        }
    };
}