body {
    font-family: 'Titillium Web', sans-serif;
    margin: 5px 10px;
}

nav {
    font-size: 25px;
}

#back {
    text-decoration: none;
    margin: 15px;
}

#about {
    text-align:justify;
}

.space {
    margin: 10px;
}

img {
    border-radius: 15px;
}

.pic {
    margin-left: auto;
    margin-right: auto;
}