.about {
    background-color: $color-about;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, /* gradient on top of bg image */
    $color-primary, $color-secondary),
    url("https://images.unsplash.com/photo-1536685632249-7e210d6e381e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
    background-size: cover;
    margin-top: -12rem;
    transform: skewY(-7deg); // distorts the section

    & > * { // selects all children of this class
        transform: skewY(7deg); // distorts the children back to normal
    }
}