body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: black;
}

.main {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); /* move text block with its center fixed */
    text-align: center;

    &__title {
        color: $color-white;
    }

    &__primary-title {
        text-transform: uppercase;
        display: block;
        font-size: 6rem;
        font-weight: 700;
        text-shadow: 5px 5px 5px gray;
        letter-spacing: 2.5rem;
        animation-name: moveRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;

        @include responsive(tablet-landscape) {
            letter-spacing: 1.5rem;
            font-size: 5rem;
        }

        @include responsive(tablet-portrait) {
            letter-spacing: 1rem;
            
        }

        @include responsive(mobile-phone) {
            font-size: 3.5rem;
        }

        @include responsive(mini-mobile) {
            font-size: 2.5rem;
        }

    }
    
    &__secondary-title {
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-shadow: 3px 3px 3px gray;
        letter-spacing: 2.2rem;
        animation: moveLeft 2s;
        margin-bottom: 35rem;

        @include responsive(tablet-landscape) {
            letter-spacing: 1.5rem;
        }

        @include responsive(tablet-portrait) {
            letter-spacing: 1rem;
        }

        @include responsive(mobile-phone) {
            letter-spacing: .5rem;
            font-size: 2.5rem;
        }

        @include responsive(mini-mobile) {
            font-size: 2rem;
        }
    }
}

.container-heading {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, $color-primary, $color-secondary);
    display: inline-block; // so that bg is text's width, not whole line width
    background-clip: text; // clips gradient to text's shape
    -webkit-background-clip: text;
    color: transparent; // so you can see gradient, not text color
    transition: all .2s;

    @include responsive(tablet-portrait) {
        font-size: 3rem;
    }

    @include responsive(mobile-phone) {
        font-size: 2.5rem;
    }
    
    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1); // skewing text
        text-shadow: .5rem 1rem 2rem rgba($color: #000000, $alpha: .2);
    }
}

.heading-column {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.par {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
    
}