.utility-center-text {
    text-align: center !important;
}

.utility-mb-big {
    margin-bottom: 8rem !important;

    @include responsive(tablet-portrait) {
        margin-bottom: 5rem !important;
    }
}

.utility-mb-med {
    margin-bottom: 4rem !important;

    @include responsive(tablet-portrait) {
        margin-bottom: 3rem !important;
    }
}

.utility-mb-small {
    margin-bottom: 1.3rem !important;
}

.utility-mt-big {
    margin-top: 6rem !important;
}