:root { // setting css variables to use everywhere
    --color-primary: #2a6f97;
    --color-primary-light: #89c2d9;
    --color-primary-dark: #014f86;
    --color-black: black;
    --color-red: #e5383b;
    --color-gray-light1: #faf9f9;
    --color-gray-light2: #f4f2f2;
    --color-gray-light3: #f0eeee;
    --color-gray-light4: #ccc;
    --color-gray-dark1: #333;
    --color-gray-dark2: #777;
    --color-gray-dark3: #999;

    --shadow: 0 2rem 6rem rgba($color: #000000, $alpha: .3); // it doesn't work
}

$breakpoint-largest: 75em; // 1200px
$breakpoint-large: 62.5em; // 1000px
$breakpoint-medium: 37.5em; // 600px
$breakpoint-small: 31.25em; // 500px

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px=62.5%
}

body {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-black); // use css vars like this, through "var()"
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}