.container {
    max-width: 120rem;
    margin: 8rem auto; // centering container
    background-color: var(--color-gray-light1);
    // box-shadow: var(--shadow); // this one doesn't work
    box-shadow: 0 2rem 6rem rgba($color: #000000, $alpha: .3);

    @media only screen and (max-width: $breakpoint-largest) {
        margin: 0; // get rid of bg
    }
}

.header {
    height: 7rem;
    background-color: white;
    border-bottom: 1px solid var(--color-gray-light2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;

    @media only screen and (max-width: $breakpoint-small) {
        flex-wrap: wrap;
        height: 9rem;
        align-content: space-around;
        margin-top: .5rem;
    }
}

.content {
    display: flex;

    @media only screen and (max-width: $breakpoint-large) {
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-gray-dark1);
    flex: 0 0 18%; // doesn't expand, doesn't shrink, always occupies 18% of content container width
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    flex: 1; // so it occupies the rest of content container width
}

.details {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-gray-light3);
    border-bottom: 1px solid var(--color-gray-light2);
    font-size: 1.6rem;

    @media only screen and (max-width: $breakpoint-large) { // from bigger to smaller screens
        padding: 3rem;
    }

    @media only screen and (max-width: $breakpoint-medium) {
        flex-direction: column;
    }
}

.description {
    flex: 0 0 60%; // doesn't expand, doesn't shrink, occupies 60% of parent
    margin-right: 4.4rem; // this space is left empty in this container
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba($color: #000000, $alpha: .1);
    padding: 3rem;

    @media only screen and (max-width: $breakpoint-large) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $breakpoint-medium) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.reviews {
    flex: 1; // occupies all the space left in parent
    display: flex;
    flex-direction: column;
    align-items: center;
}