.header {
    height: 95vh; /* occupies 95% of screen vertically */
    background-image: linear-gradient(to right top, /* gradient on top of bg image */
    $color-black, $color-gray),
    url("https://images.unsplash.com/photo-1598038748999-1174fb7d2562?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-position: top; /* fixing background image on top */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), // 600px
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    (min-width: 125em) {
        background-image: linear-gradient(to right bottom,
        $color-black, $color-white),
        url("https://images.unsplash.com/photo-1598038748999-1174fb7d2562?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    }

    @media only screen and (min-width: 125em) { // 2000px
        background-image: linear-gradient(to right bottom,
        $color-white, $color-black),
        url("https://images.unsplash.com/photo-1598038748999-1174fb7d2562?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    }

    @include responsive(mobile-phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    // &__logo {
    //     position: absolute;
    //     top: 4rem;
    //     left: 4rem;
    // }

    // &__logo-pic {
    //     font-size: 6rem;
    //     margin-bottom: .5rem;
    //     display: inline-block;
    //     background-image: linear-gradient(to right, $color-primary, $color-secondary);
    //     background-clip: text; // clips gradient to text's shape
    //     -webkit-background-clip: text;
    //     color: transparent; // so you can see gradient, not text color
    // }

    // &__logo-pic:hover {
    //     animation: turning 1s ease-in-out;
    // }
}