$color-primary: #c69963;
$color-primary-dark: #b28451;
$color-secondary: #101d2c;
$color-light-gray1: #f9f7f6;
$color-light-gray2: #aaa;
$color-dark-gray1: #54483a;
$color-dark-gray2: #6d5d4b;

$font-primary: 'Nunito', sans-serif;
$font-display: 'Arial', sans-serif;

// break points for responsive design
$breakpoint-largest: 75em; // 1200px
$breakpoint-large: 62.5em; // 1000px
$breakpoint-medium: 50em; // 800px
$breakpoint-small: 37.5em; // 600px
$breakpoint-smaller: 31.25em; // 500px
$breakpoint-smallest: 26.25em; // 420px

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box; // padding and borders values are included into width and height
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    @media only screen and (max-width: $breakpoint-largest) {
        font-size: 50%;
    }
}

body {
    color: $color-dark-gray2;
    // font-family:;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid; // 6 rows and 11 columns in total
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    @media only screen and (max-width: $breakpoint-large) {
        grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content); // added one more row for sidebar
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; // removed first column because of sidebar
    }

    @media only screen and (max-width: $breakpoint-medium) {
        grid-template-rows: 6rem calc(100vh - 6rem); // changed second row, other rows are implicit
    }
}