.header {
    background-color: $color-secondary;
    grid-column: full-start / col-end 6;
    background-image: linear-gradient(rgba($color-secondary, .85), rgba($color-secondary, .85)), url("https://images.unsplash.com/photo-1470162015499-2b9772941cde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQyfHxjYXJ8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    padding: 8rem;
    padding-top: 4rem;

    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content); // expands and decreases with screen's width
    grid-row-gap: 1.5rem;
    justify-content: center;

    @media only screen and (max-width: $breakpoint-medium) {
        grid-column: 1 / -1; // occupies whole row
    }

    @media only screen and (max-width: $breakpoint-small) {
        padding: 5rem;
    }

    &__btn {
        align-self: start;
        justify-self: start;
    }

    &__asseenon {
        
        &-text {
            display: grid;
            grid-template-columns: 1fr max-content 1fr;
            grid-column-gap: 1.5rem;
            align-items: center;

            font-size: 2rem;
            letter-spacing: 1px;
            font-family: $font-primary;
            color: $color-gray;

            &::before, &::after {
                content: ""; // obligatory for before/after
                height: 1px; // line itself before and after text
                display: block;
                background-color: currentColor; // inherits color from text
            }
        }

        &-logos {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-column-gap: 3rem;
            justify-items: center;
            align-items: center; // inside each cell

            img {
                max-height: 3.5rem; // scales down when needed
                max-width: 100%;
                filter: brightness(70%);
            }
        }
    }
}