.sellers {
    background-color: $color-dark;
    grid-column: col-start 7 / full-end;
    padding: 3rem;
    display: grid;
    align-content: center; // centered elements horizontally
    // justify-content: center;
    justify-items: center; // centered elements vertically
    grid-row-gap: 2rem;

    @media only screen and (max-width: $breakpoint-medium) {
        grid-column: 1 / -1; // occupies whole row
    }

    &__list {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-column-gap: 2rem;
        grid-row-gap: 5vh; // so that it changes with page height
        align-items: center; // centering inside cells horizontally

        @media only screen and (max-width: $breakpoint-medium) {
            grid-template-columns: repeat(3, min-content max-content);
        }

        @media only screen and (max-width: $breakpoint-small) {
            grid-template-columns: min-content max-content;
        }
    }

    &__img {
        width: 7rem; // makes images smaller
        border-radius: 50%;
        display: block;
    }

    &__sold {
        text-transform: uppercase;
        color: $color-gray;
        margin-top: -3px; // move text up a bit
        font-family: $font-secondary;
        letter-spacing: 1px;
    }
}