.story {
    &__pictures {
        background-color: $color-primary;
        grid-column: full-start / col-end 4;
    }

    &__content {
        background-color: $color-light-gray1;
        grid-column: col-end 4 / full-end;
    }
}