%heading { // extends for all other headings (see below)
    font-family: $font-primary;
    color: $color-gray;
    font-weight: 400;
    letter-spacing: 2px;
}

.heading-0 {
    @extend %heading;
    font-size: 5.5rem;
    // line-height: 1;
    justify-self: center;
    font-weight: 600;
    letter-spacing: 10px;
    font-family: $font-secondary;
}

.heading-1 {
    @extend %heading;
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 300;
}

.heading-2 {
    @extend %heading;
    font-size: 4rem;
    font-style: italic;
    line-height: 1;
}

.heading-3 {
    @extend %heading;
    font-size: 1.6rem;
    color: $color-primary;
    text-transform: uppercase;
}

.heading-4 {
    @extend %heading;
    font-size: 2rem;
    color: $color-dark;
    font-weight: 500;
}

.heading-5 {
    @extend %heading;
    font-size: 1.9rem;
    color: $color-gray;
    font-weight: 400;
}

.btn {
    background-color: $color-primary-dark;
    font-family: $font-secondary;
    letter-spacing: 2px;
    color: white;
    border: none;
    border-radius: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s; // gradually applies hover effect

    &:hover {
        background-color: $color-primary;
        color: $color-dark;
    }
}

// helper classes

.mb-small {
    margin-bottom: 2rem;
}

.mb-medium {
    margin-bottom: 3rem;
}

.mb-large {
    margin-bottom: 4rem;
}