%heading { // extends for all other headings (see below)
    // font-family: ;
    color: $color-dark-gray2;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
}

.heading-2 {
    @extend %heading;
    font-size: 4rem;
    font-style: italic;
    line-height: 1;

    &-light {
        color: $color-light-gray2;
    }

    &-dark {
        color: $color-dark-gray1;
    }
}

.heading-3 {
    @extend %heading;
    font-size: 1.6rem;
    color: $color-primary;
    text-transform: uppercase;
}

.heading-4 {
    @extend %heading;
    font-size: 1.9rem;

    &-light {
        color: $color-light-gray2;
    }

    &-dark {
        color: $color-dark-gray1;
        
    }
}

.btn {
    background-color: $color-primary;
    color: white;
    border: none;
    border-radius: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s; // gradually applies hover effect

    &:hover {
        background-color: $color-primary-dark;
    }
}

// helper classes

.mb-small {
    margin-bottom: 2rem;
}

.mb-medium {
    margin-bottom: 3rem;
}

.mb-large {
    margin-bottom: 4rem;
}