%heading { // extends for all other headings (see below)
    // font-family: ;
    color: $color-dark-gray2;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
}

.heading-2 {
    @extend %heading;
}

.heading-3 {
    @extend %heading;
}

.heading-4 {
    @extend %heading;

    &-light {
        color: $color-light-gray2;
    }

    &-dark {
        color: $color-dark-gray1;
        font-size: 1.9rem;
    }
}