.card {
    perspective: 150rem; // makes rotation smoother
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;

    &__side {
        height: 50rem;
        transition: all 1s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden; // so you don't see back from front
        border-radius: 3px;
        overflow: hidden; // makes image's corners hidden so that border-radius works fine
        box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: .15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-yellow, $color-orange);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-blue, $color-violet);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-white, $color-black);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg); // compensates rotation
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__image {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen; // blends gradient and image
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &-1 {
            background-image: linear-gradient(to right bottom, $color-yellow, $color-orange), url("https://images.unsplash.com/photo-1501555088652-021faa106b9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aGlraW5nfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
        }

        &-2 {
            background-image: linear-gradient(to right bottom, $color-blue, $color-violet), url("https://images.unsplash.com/photo-1515238152791-8216bfdf89a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGJlYWNofGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
        }

        &-3 {
            background-image: linear-gradient(to right bottom, $color-white, $color-black), url("https://images.unsplash.com/photo-1470114756101-d58df39917b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjZ8fHdvb2RzfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        color: $color-white;
        width: 75%; // limits occupied width
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        box-decoration-break: clone; // applies padding to all sides of every word
        -webkit-box-decoration-break: clone;

        &-1 {
            background-image: linear-gradient(to right bottom, rgba($color-yellow, .85), rgba($color-orange, .85));
        }

        &-2 {
            background-image: linear-gradient(to right bottom, rgba($color-blue, .85), rgba($color-violet, .85));
        }

        &-3 {
            background-image: linear-gradient(to right bottom, rgba($color-white, .85), rgba($color-black, .85));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-orange;
                }
            }
        }
    }

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price {
        text-align: center;
        margin-bottom: 8rem;
        color: $color-white;

        &-before {
            font-size: 1.5rem;
            text-transform: uppercase;
        }

        &-itself {
            font-size: 6rem;
            font-weight: 100;
        }
    }

    @include responsive(tablet-portrait) {
        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: .15);

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;

            &--back {
                transform: rotate(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &__side--front {
            transform: rotateY(0); // removes rotation
        }

        &__details {
            padding: 1rem 3rem;
        }

        &__cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }

        &__price {
            margin-bottom: 3rem;

            &-itself {
                font-size: 4rem;
            }
        }
    }
}

