.form {
    &-group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &-input {
        font-size: 1.5rem;
        font-family: inherit; // input doesn't inherit font qualities automatically
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 3px;
        background-color: rgba($color: $color-white, $alpha: .9);
        border: none;
        border-bottom: 3px solid transparent; // compensates for green border-bottom
        width: 90%;
        display: block; // occupies whole line
        transition: all .3s; // smooth transition between focused and unfocused input

        @include responsive(tablet-portrait) {
            width: 100%;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: .1);
            border-bottom: 3px solid $color-secondary;

            &:invalid { // input validation
                border-bottom: 3px solid $color-gray;
            }
        }

        &::placeholder, ::-webkit-input-placeholder {
            color: darkgray;
        }
    }

    &-label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &-input:placeholder-shown + &-label { // siblings in the order they're in html
        opacity: 0; // placeholder is invisible before typing
        visibility: hidden;
        transform: translateY(-4rem); // placeholder moves down under input
    }

    &-radio-group {
        width: 49%;
        display: inline-block;

        @include responsive(tablet-portrait) {
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    &-radio-btn { // hide real radio btns
        display: none;
    }

    &-radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }

    &-radio-pseudo-btn {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute; // position of pseudo radio btn
        top: -.5rem;
        left: 0;

        &::after { // inner circle inside pseudo radio btn
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            border-radius: 50%;
            opacity: 0;
            transition: opacity .1s;
        }
    }

    &-radio-btn:checked ~ &-radio-label &-radio-pseudo-btn::after {
        // show pseudo btn's inner circle when real radio btn is checked
        // (works for radio btns and select btns only)
        opacity: 1;
    }
}